<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907889941394-ka5p1ktk7l6q7689b6i3s5nfpf2c5vj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907889941394-ka5p1ktk7l6q7689b6i3s5nfpf2c5vj5</string>
	<key>API_KEY</key>
	<string>AIzaSyBxNIsnJPYzaORjdVaOxOLVFRYsW1ikPW8</string>
	<key>GCM_SENDER_ID</key>
	<string>907889941394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.uk.neurify.VoiceyPush</string>
	<key>PROJECT_ID</key>
	<string>voicey-ead7b</string>
	<key>STORAGE_BUCKET</key>
	<string>voicey-ead7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907889941394:ios:c92b15fb8eb66712717f4b</string>
</dict>
</plist>